.venv/

.idea/

__pycache__/

batch_errors/**
batch_outputs/**
batch_jobs/**

dxchange/

old_versions/

figures/**
results/**

.ipynb_checkpoints/

**/*.h5
*.h5
**/*.npy
*.npy
**/*.nii
*.nii
**/*.nii.gz
**.nii.gz
**/*.tif
*.tif
**/*.tiff
*.tiff

*.log
*.txt

!*.gitkeep
